@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --roboto-font: 'Roboto', sans-serif;
  --text-color: black;
  --background-body: #eeeeee;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-body: #eceff1;
  }
}
*/

body,
html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--roboto-font);
  color: var(--text-color);
  background-color: var(--background-body);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
