@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --roboto-font: 'Roboto', sans-serif;
  --foreground-rgb: 0, 0, 0;
  --background-body: 50, 50, 50;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-body: 50, 50, 50;
  }
}

body {
  font-family: var(--roboto-font);
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-body));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
